<html>
<head>
    <title>Tabs Directive</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-theme.css" />
    <link href="../assets/css/customTab.css" rel="stylesheet" />
</head>
<body ng-app="myApp">
    <h1>Tabs, tabs, tabs!</h1>
    <tabset id="myTab">
        <tab>
            <img class="irc_mut" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTYNcSucGqTMd_A5Sc0iTO3vqk-t0v4c2YWatU_9JMf6Kv4KDy-" width="256" height="272" style="margin-top: 144px;">
        </tab>
        <tab>
            Tab 2
            <img class="irc_mi" style="margin-top: 78px;" src="http://image.slidesharecdn.com/tddangularjs-131121171401-phpapp01-151026232611-lva1-app6892/95/angularjs-test-driven-development-tdd-22-638.jpg?cb=1445902255" width="638" height="479">
        </tab>
    </tabset>

<script src="../assets/js/angular.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.js"></script>
    <script src="../app/app.js" type="text/javascript"></script>
    <script src="../app/directives/tabset.js" type="text/javascript"></script>
</body>
</html>