<html>
<head>
    <title>Tabs Directive</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-theme.css" />
</head>
<body ng-app="myApp">
    <h1>Tabs, tabs, tabs!</h1>
    <tabset id="myTab">
        <tab id='tab1' title="Tab 1">
            <div>
                Tab 1
            </div>
        </tab>
        <tab id="tab2" title="Tab 2">
            Tab 2
        </tab>
    </tabset>

    <script src="../assets/js/angular.js" type="text/javascript"></script>
    <script src="../app/app.js" type="text/javascript"></script>
    <script src="../app/directives/tabset.js" type="text/javascript"></script>
</body>
</html>