<html ng-app='myApp'>
    <head>
        <title>Angular - directive demo </title>
        <link rel='stylesheet' href='../assets/css/custom.css'>
    </head>
    <body ng-controller="directiveController">
        <h2>AngularJS Socks</h2>
        <p>Keep warm this winter with our 100% wool, 100% cool, AngularJS socks!</p>
        <div color-list colors='colorsArray'></div>
        <script src='../assets/js/angular.js'></script>
        <script src="../app/app.js"></script>
        <script src="../app/directives/colorListDirective.js"></script>
        <script src='../app/controllers/directiveController.js'></script>
    </body>
</html>